{% extends "admin/base.html.twig" %}

{% block mainadmin %}
{% if is_granted('ROLE_ADMIN') %}
  <h2>Videos</h2>
{% else %}
  <h2>My liked videos</h2>
{% endif %}

{{include('admin/includes/_videos.html.twig', {'videos': videos})}}

{% endblock %}

{% block cusomjavascripts %}
{{ parent() }}
<script>
    function delete_video(e)
    {
      confirm('Are you sure?'))
    }
</script>
{% endblock %}
