{% extends "base.html.twig" %}

{% block main %}
<div class="row mt-5">

    {{include('front/includes/_cart.html.twig')}}

    <div class="col-md-8 order-md-1">

        <h4 class="mb-3">Pay with PayPal <small>or get other <a href="{{path('pricing')}}">plan</a></small></h4>
        <hr class="mb-4">
        <a href="{{path('payment', {'paypal': 'paypal'})}}" class="btn btn-primary btn-lg btn-block" role="button">Continue to checkout</a>

    </div>
</div>
{% endblock %}